 * {
     color: grey;
     font-family: "Open Sans", sans-serif;
     box-sizing: border-box;
     margin: 0;
 }

 body {
     background-color: plum;
 }

 h1,
 h2,
 h3 {
     font-family: "Lora", serif;
 }

 .contenedor-juego {
     height: 98vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }

 .contenedor-titulo {
     text-align: center;
     width: 100%;
     max-width: 510px;
     padding-bottom: 5px;
     border-bottom: 1px solid black;
 }

 .contenedor-titulo button {
     padding: 5px 10px;
     margin-bottom: 10px;
     cursor: pointer;
 }

 .contenedor-titulo h1 {
     margin: 10px;
 }

 .contenedor-titulo nav ul {
     display: flex;
     justify-content: space-between;
     padding: 0;
     margin: 0;
 }

 .contenedor-titulo nav ul li {
     padding: 5px 10px;
     cursor: pointer;
     list-style: none;
 }

 .contenedor-mensaje {
     height: 30px;
 }

 .contenedor-mensajep {
     background-color: aliceblue;
     border-radius: 10px;
     padding: 10px;
     margin: 0;
 }

 .contenedor-caja {
     max-width: 330px;
     margin-bottom: 30px;
 }

 .contenedor-caja div {
     display: flex;
 }

 .contenedodr-caja .caja {
     width: 62px;
     height: 62px;
     border: 2px solid #797a9e;
     border-radius: 3px;
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 2px;
     font-size: 28px;
 }

 .contenedor-titulo nav ul {
     display: flex;
     justify-content: space-between;
     padding: 0;
 }

 .contenedor-titulo nav ul li {
     padding: 5px 10px;
     margin-bottom: 10px;
     cursor: pointer;
     list-style: none;
 }

 nav ul li a {
     text-decoration: none;
 }

 nav ul li:hover {
     background-color: var(--claro);
     padding: 5px 10px;
     border-radius: 4px;
 }

 @media only screen and (max-width: 340px) and (min-width: 5px) {
     .contenedodr-caja .caja {
         width: 48px;
         height: 48px;
         font-size: 20px;
     }
 }

 nav ul li a {
     text-decoration: none;
 }